@import "./variables";

.filmCategoryItem {
  display: flex;
  margin: 0 0.5rem;
  color: $clr-white;
  height: 20px;
  padding: 0 0.4rem;
  button {
    color: $clr-white;
  }
}

.filmProjectsAmount {
  font-size: 0.7rem;
  color: $clr-white;
}

.all,
.documentary,
.fiction,
.commercial {
  padding: 0 0.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: border 0.5s linear;
  &.categoryActive {
    // background-color: rgb(235, 128, 66);
    border-bottom: 1px solid rgba(235, 128, 66, 1);
    transition: border 0.5s linear;
  }
}
