@import "./variables";

.container {
  padding: 8rem 2rem 0 2rem;
  overflow: hidden;
}

.titleContainer {
  margin-bottom: 2rem;
}

.contactGrid {
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.contactParagraph {
  grid-area: 1 / 1 / span 1 / span 1;
  width: 75%;
  p {
    color: $clr-white;
  }
}

.contactMap {
  grid-area: 1 / 2 / span 1 / span 1;
  height: 100%;
}
