@import "./variables";

.container {
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  max-width: 100vw;

  @media screen and (min-width: $screen-large) {
    flex-direction: row;
    height: 100vh;
    max-width: max-content;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.filmGrid {
  min-width: 100vw;
  max-height: max-content;
  padding: 0 2rem;
  display: flexbox;

  .filmImg1 {
    position: relative;
    overflow: hidden;
    height: clamp(30rem, 50vh, 70rem);

    .img1 {
      width: 100%;
      height: 100%;
    }
  }

  .filmInfo {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0rem 0rem;

    .shortDescription {
      width: 100%;
      padding: 3rem 0;
    }
    p {
      color: $clr-white;
    }
    .filmDetails {
      padding: 0rem 0rem;
    }
  }

  @media screen and (min-width: $screen-large) {
    max-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;

    .filmHeader {
      grid-area: 1 / 1 / span 2 / span 3;
    }

    .filmImg1 {
      width: 60vw;

      grid-area: 2 / 1 / span 2 / span 2;
    }

    .filmInfo {
      padding: 0 3rem;
      width: 38vw;
      grid-area: 2 / 2 / span 2 / span 2;

      .filmDetails {
        padding: 3rem 3rem;
      }
    }
  }
}

.filmFlex {
  max-width: 100vw;
  display: flex;
  flex-direction: column;

  .filmVideo {
    position: relative;
    width: 100%;
    margin-bottom: 3rem;
  }

  .filmImg {
    position: relative;
    width: 100%;
    height: clamp(30rem, 70vh, 70rem);
  }

  .filmParagraph {
    padding: 2rem 2rem;
    width: 100%;
    p {
      color: $clr-white;
    }
  }

  .filmCredits {
    margin: 0 0 3rem 2rem;
    width: 100%;
    p {
      color: $clr-white;
    }
  }

  @media screen and (min-width: $screen-large) {
    max-width: max-content;
    flex-direction: row;

    .filmImg {
      width: 70vw;
    }

    .filmParagraph {
      margin: 0 10rem;
      width: 40vw;
    }

    .filmCredits {
      margin: 0 0 0 10rem;
      width: 50vw;
    }
  }
}
