/* :root {
  --text-purple: rgba(67, 56, 202, 1);
  --text-purple-dark: rgba(79, 70, 229, 1);
  --text-black: rgba(17, 24, 39, 1);
  --text-white: rgba(229, 231, 235, 1);
} */

/* 
Breakpoints: 
-----------
sm: min-width: 640px; //small device
md: min-width: 768px; //medium device
lg: min-width: 1024px; //large device
xlg: min-width: 1280px; //extra large device
2xl: min-width: 1536px; //2x extra large device
*/

/*
=============== 
Fonts
===============
*/
// @import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
@import url("https://use.typekit.net/lcs4ric.css");

/*
=============== 
Variables
===============
*/

@import "./variables";

// $clr-white: rgb(233, 225, 225);
// $clr-tint: rgb(235, 128, 66);
// $clr-black: #222;
// $ff-primary: "acumin-pro", sans-serif;
// $ff-secondary: "acumin-pro", sans-serif;
// $transition: all 0.3s linear;
// $max-width: 1170px;
// $min-width: 580px;
// $fixed-width: 620px;

// // Breakpoints
// $screen-large: 900px;

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $ff-secondary;
  background-color: $clr-black;
  line-height: 1.5;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.01vw;
}
ul {
  list-style-type: none;
}
a {
  font-weight: 700;
  text-decoration: none;
  color: $clr-tint;
  transition: $transition;
  // Style for react-router <NavLink />
  &.active {
    color: #999;
  }
}
a:hover {
  color: $clr-white;
}

img {
  display: block;
}
button,
button:focus {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: $clr-tint;
  padding: 0.5rem;
  // border-radius: 25% 10%;
  border-radius: 10px;
}

button:active {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  // text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: $ff-primary;
  font-weight: 800;
}
h1 {
  font-size: 10vw;
  color: $clr-white;
}
h2 {
  font-size: 2.5rem;
  color: $clr-tint;
}
h3 {
  font-size: 3vw;
  color: $clr-tint;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  font-weight: 200;
  color: $clr-black;
}
@media screen and (min-width: $screen-large) {
  h1 {
    font-size: 7vw;
    line-height: 0.8;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: clamp(1.2rem, 1.5vw, 1.5rem);
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }

  h2,
  h3,
  h4 {
    line-height: 1.2;
  }
}
