@import "./variables";

.navbar {
  padding: 1.5rem 2rem 0 2rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin: auto;
  z-index: 10;
  background-color: $clr-black;
}

.logoSpan {
  font-weight: 100;
}

.navLinks {
  display: flex;

  li {
    margin-left: 2rem;
  }
}
