@import "./variables";

.mainContainer {
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

/////////////////////////////////////////////////////////
// TRANSITIONS

.transition {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  z-index: 20;
  pointer-events: none;
}

.transitionUnit {
  min-width: 100vw;
  min-height: 25vh;
  background-color: $clr-tint;
}
