/*
=============== 
Variables
===============
*/

$clr-white: rgb(233, 225, 225);
$clr-tint: rgb(235, 128, 66);
$clr-black: #222;
$ff-primary: "acumin-pro", sans-serif;
$ff-secondary: "acumin-pro", sans-serif;
$transition: all 0.3s linear;
$max-width: 1500px;
$min-width: 580px;
$fixed-width: 620px;

// Breakpoints
$screen-large: 900px;

/*
=============== 
Color Mixins
===============
*/

%bg-color-tint {
  background-color: $clr-tint;
}

%color-tint {
  color: $clr-tint;
}

%bg-color-black {
  background-color: $clr-black;
}

%color-black {
  color: $clr-black;
}

%bg-color-white {
  background-color: $clr-white;
}

%color-white {
  color: $clr-white;
}

/*
=============== 
Spacer Mixins
===============
*/

%margin-top {
  margin-top: 2rem;
}

%margin-all {
  margin: 2rem;
}
%margin-sides {
  margin: 0 2rem;
}

%padding-top {
  padding-top: 2rem;
}

%padding-all {
  padding: 2rem;
}
%padding-sides {
  padding: 0 2rem;
}

/*
=============== 
Container Mixins
===============
*/

%max-width {
  max-width: $max-width;
}
